<app-bebidas-edit> [bebida]="BebidaSelecionada" </app-bebidas-edit>

<table>
  <tr>
    <td>ID</td>
    <td>NOME</td>
    <td>TIPO</td>
    <td>SABOR</td>
    <td>QUANTIDADE</td>
  </tr>
  <tr *ngFor="let bebida of Bebidas">
    <button [class.selecionada]="bebida === bebida " type="button" (click)=" onSelect (bebida)">
      <td>{{bebida.id}}</td>
      <td>{{bebida.nome}}</td>
      <td>{{bebida.tipo}}</td>
      <td>{{bebida.sabor}}</td>
      <td>{{bebida.qtd}}</td>
    </button>
  </tr>
</table>



<!-- id: number;
nome: string;
tipo: string;
sabor: string;
qtd: string; -->